html,
body {
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding-top: 25px;
    background-color: black;
}

#map {
    height: 100%;
}
/* Side bar */
#list-sidebar {
    background-color: black;
    min-width: 255px;
}

#listed-items {
    padding: 10px 0;
}
/* Media query */
@media screen and (max-width: 768px) {
    #list-sidebar {
        display: none;
    };
}
